.news-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* dim background of modal */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px; /* space below header */
  padding-bottom: 30px; /* reduce bottom empty space */
  z-index: 1050;
}

.news-modal {
  background: #fff;
  width: 70%;
  max-width: 900px;
  max-height: 80vh;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  animation: fadeIn 0.3s ease-in-out;
  padding: 20px;
  position: relative;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.news-modal .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #151655;
}

.news-modal .close-btn:hover {
  color: #f0a500;
}

.news-modal img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.drawer-title {
  font-family: 'Graduate', serif;
  font-size: 1.5rem;
  color: #151655;
}

.drawer-text {
    text-align: justify;
}